@model eCommerce.Dto.ProductAttribute.ProductAttributeViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()
@Html.HiddenFor(x=>x.Id)
<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left" style="padding:10px"></div>
            </div>
        </div>
        <div id="productattribute" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-tab-name="tab-info" data-toggle="tab" href="#tab-info" aria-expanded="true">Attribute info</a></li>

                <li class=""><a data-tab-name="tab-options" data-toggle="tab" href="#tab-options" aria-expanded="false">Options</a></li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab-info">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="pull-right">
                                                <label>Name :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div>
                                               @Html.TextBoxFor(x=>x.Name,new { @class="form-control"})
                                                @Html.ValidationMessageFor(x=>x.Name)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="pull-right">
                                                <label>Description :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div>
                                                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab-options">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                           @if (Model.Id > 0)
                           {
                            <div id="divproductAttributeValueList">
                                @Html.Action("_ProductAttributeValueList", "ProductAttribute", new { Id = Model.Id })
                            </div>
                            <button type="button" onclick="javascript:ProductAttributePopup()" class="btn bg-blue">
                                <i class="fa fa-floppy-o"></i>Add Value
                            </button>
                           }
                           else
                           {
                            @Html.Raw("You need to save the product attribute before you can add options for this product attribute page.")
                           }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>